
body{
    background-color: black;
    text-decoration:white;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
}


.navbar{
    display:flex;
    justify-content:center;
    margin: 5px;
    color:white; 
    padding:15px;
    background-image: url(https://media1.giphy.com/media/11lVFn0Di6NOIU/giphy.gif?cid=3640f6095bdb7376463370366307448e)
    }

.navbar a {
    color:white
    
}

.gal{ 
    padding:15px;
    
}
.about{padding: 15px;
    
}
.home{ 
  padding:15px;}

.header{
    display:flex;
    justify-content:center;
}

.container{
   display:flex;
   justify-content:center;
    height:30px;
   
}

.thumnail{
    width:50%;
}

.thumbnail-image{width:200px;
height:200px;



}

.thumbnails {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
}

.gallery{display:flex;

justify-content:center;
justify-content:space-around;
background-image: url(https://media0.giphy.com/media/U3qYN8S0j3bpK/giphy.gif?cid=3640f6095bde6ab4776e4f3049c00af6ss)
  }
.menu{
    width:33%;
    text-align: center;
}

    
.home-photo{display:flex;
justify-content:center;
}

.content{width:33%}
html {
    height: 100%;
}

body {
    height: 100%;
    color:white;
    
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
