
body{
    background-color: black;
    text-decoration:white;
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
}


.navbar{
    display:flex;
    justify-content:center;
    margin: 5px;
    color:white; 
    padding:15px;
    
}

.navbar a {
    color:white
    
}

.gal{ 
    padding:15px;
    
}
.about{padding: 15px;
    
}
.home{ 
  padding:15px;}

.header{
    display:flex;
    justify-content:center;
}

.container{
   display:flex;
   justify-content:center;
    height:30px;
   
}

.thumnail{
    width:50%;
}

.thumbnail-image{width:200px;
height:200px;



}
.gallery{display:flex;
flex-wrap:wrap;
justify-content:center;
justify-content:space-around;
  }
.menu{
    width:33%;
}
.main{
    text-align: center;
    width:33%
    
}
.home-photo{display:flex;
justify-content:center;
}

.content{width:33%}
html {
    height: 100%;
}

body {
    height: 100%;
    color:white;
    
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

